language: node_js
node_js:
  - "node"
cache:
  yarn: true
  directories:
    - node_modules
install:
  # - yarn global add sequelize-cli
  - npm install sequelize-cli
before_script:
  - sequelize db:migrate
  - sequelize db:seed --seed 20161204173948-default-admin
script:
  # - yarn test
  - npm test
