language: node_js
node_js:
  - "node"
cache: yarn
install:
  # - yarn global add sequelize-cli
  - npm install sequelize-cli -g
  - sequelize db:migrate
  - sequelize db:seed --seed 20161204173948-default-admin
script:
  # - yarn test
  - npm test
